body {
    font-family: Arial, Helvetica, sans-serif;
    background: #735443;
}

/* Structure */
#content {
    background: #BFBA9F;
    padding: 5px;
    width: 80%;
    margin: auto; /* Centers Horizontally */
    border-radius: 20px;
}
#main-links {
    list-style-type: none;
    border-color: black;
}


#main-header, #main-content, #main-footer {
    background-color: #F2C288;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #260B01;
    border: darkgoldenrod;
}

#main-lower {
    background-color: darkgoldenrod;
    color: lightgoldenrodyellow;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;


}

/* Main Navigation */
#main-nav li {
    /* Remove Bullet*/
    list-style-type: none;
    background: darkslategrey;
    padding: 5px;
    border-bottom: 1px solid #A6A498;
}
#main-nav ul {
    /* Remove list indent*/
    padding-left: 0;
}
#main-nav a {
    /* Remove underline for link*/
    text-decoration: none;
    color: white;
}




/* Typography */
h1 {
    color: #592C12;
    text-align: center;
}
h2 {
    color: #592C12;
}

.special {
    color: #260B01;
}


@media only screen and (min-width: 768px) {
    .rows {
        display:flex;
        flex-direction: column;
        margin: auto;
    }
    .rows section {
        padding: 5px 20px;
        border: 2px;
        border: 1px darkgoldenrod;
    }
    .rows .columns {
        float: left;
        padding: 20px;
        border: 1px darkgoldenrod;
    }
    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .rows img {
        display: block;
        margin: auto;
        float: left;
    }
}



/*For larger resolutions */
@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
        border: 2px solid darkgoldenrod;
        flex-direction: row;
    }
    .columns section {
        padding: 5px 20px;
        border: 2px;
        border: 2px solid darkgoldenrod;
    }
    .one, #main-nav li {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .columns-content {
        margin-bottom: 10px;
    }
}


/*For larger resolutions */
@media only screen and (min-width: 768px) {
    .rows {
        display: flex;
        margin: auto;
    }
    .rows section {
        padding: 5px 20px;
        border: 2px;
    }
    .one, #main-nav li {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
}

.rows img {
    max-width: 80%;
    display: block;
    margin: auto;
}




#main-nav li {
    text-align: center;
    border-bottom: 2px solid transparent;
}
#main-nav li:hover {
    border-bottom: 2px solid #9a2a2a;
}

.container {
    margin: 20px auto;
    overflow: hidden;
}