:root {
    --primary-color: #73010A;
    --secondary-color: #000000;
    --tertiary-color: #FFFFFF;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background:var(--tertiary-color);
    margin: none;
}

/* Structure (all of this code was hand-written. It is formatted
similar to the example from Jan16, but it was not copy-pasted */

#main-header {
    height: 25px;
    position: relative;
    background-color: var(--secondary-color);
    line-height: 0px;
    margin: -10px;
    border: 0px;
    color:var(--tertiary-color);
}
#main-header-block {
    height: 25px;
    background: var(--secondary-color);
    position: sticky; /* position "static" or "absolute" or "relative" or "fixed" or "sticky" */
    display: flex;
    }
    #main-header-menu {
        width: 50px;
        height: 50px;
        background: var(--secondary-color);
        position: sticky; /* position "static" or "absolute" or "relative" or "fixed" or "sticky" */
        right: 90%;
        display: flex;
        }

#main-header img {
    margin: 5px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    
}
#main-header .columns {
    background: var(--secondary-color);
}


#content{
    background: var(--tertiary-color);
    line-height: 0px;
    margin: -10px;
}
#content-block {
    margin-top: 45px;
    height: 30px;
    background: var(--primary-color);
    position: sticky; /* position "static" or "absolute" or "relative" or "fixed" or "sticky" */
    display: flex;
    color:var(--tertiary-color)
}
#content-top-img {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    max-width: 90%;
    height:auto;
}
#content-text {
    display: flex;
    margin: 10px;
    line-height: 20px;
    h2 {color:var(--primary-color)}
    p {
        font-size: larger;
        
    }
}
#content-highlights {
    margin-right: 10px;
    margin-left: 10px;
    background-color: var(--tertiary-color);
    line-height: 20px;
    h4 {
        color:var(--primary-color);
    }
    h3 {
        color:var(--primary-color);
    }
}


#main-footer {

}

/* Navigation */
#main-nav a {
    text-decoration: none; /*Removes underline*/
    background: steelblue;
    color: var(--primary-color);
    padding: 1px;
    border-radius: 5px;
}

/* NEED MAIN NAV HOVER STILL*/

/* Typography */


.columns {
        display: flex;
}
.columns section {
    border-color: aqua;
}
.one {
    flex: 1;
    border-color: aqua;
}
.two {
    flex: 2;
}
.three {
    flex: 3;
}
.four {
    flex: 4;
}
.ten {
    flex: 10;
}






@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
        column-gap: 10px;

        

    }
    .columns section {
        padding: 5px 20px;
        background-color: darkcyan;
        border: 5px solid darkgoldenrod;
        
    }
    .one,
    #main-nav li {
        flex: 1;
    }
    .two {
        flex: 2;
    }
}
