body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(59, 50, 114);
}

/* Structure (all of this code was hand-written. It is formatted
similar to the example from Jan16, but it was not copy-pasted */
#content {
    background: rgb(43, 6, 43);
    padding: 10px;
    width: 80%;
    margin: auto; /* Center Horizontally */
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    flex-wrap: wrap;
}
#main-header {
    text-align: center;
    margin: auto;
}
#main-footer {
    text-align: center;
    margin:auto;
}

/* Navigation */
#main-nav a {
    text-decoration: none; /*Removes underline*/
    background: steelblue;
    color: #EBD31E;
    padding: 1px;
    border-radius: 5px;
}

/* NEED MAIN NAV HOVER STILL*/

/* Typography */
h1 {
    color: #ccc;
}
h2 {
    color: #ffffcc;
}

p {
    color: #f5f5dc;
}
h3 {
    color: #add8e6;
}

.special {
    color: darkolivegreen;
}

@media only screen and (min-width: 768px) {
    .columns {
        
        display: flex;
        
        column-gap: 20px;

        

    }
    .columns section {
        flex-wrap: wrap;
        padding: 5px 20px;
        
        
    }
    .one,
    #main-nav li {
        flex: 1;
        flex-wrap: wrap;
    }
    .two {
        flex: 2;
    }
    
}

.columns {
        padding: 10px;
        width: 80%;
        margin: auto; /* Center Horizontally */
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .columns {
        padding: 10px;
        width: 80%;
        margin: auto; /* Center Horizontally */
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 20px;
        
    }
    .columns section {
        flex-wrap: wrap;
    }
.columns img {
    margin: auto;
}
    
}

.block {
    width: 400px;
    height: 650px;
    background-color: rgb(43, 6, 43);
    color: #ccc;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    border: 5px solid darkgoldenrod;
    margin: auto;
    margin-bottom: 10px;
}

#Slider {
    appearance: none;
    width:90%;
    margin-bottom: 20px;
    background-color: #36454f;
    border: 5px solid salmon;
}
#Slider::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: lightyellow;
    border: 2px solid darkorchid;
}