body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/roadPic.jpg);

}

/* Structure */
#content {
    background: #f2802e;
    padding: 10px;
    width: 60%;
    margin: auto; /* Centers Horizontally */
    margin-top: 10px;
    border-radius: 20px;
    color:rgb(1, 81, 81)
}

/* Navigation */
#main-nav a {
    text-decoration: none; /* Removes the Underline */
    background: #2EE2F2;
    color: brown;
    padding: 5px;
    border-radius: 5px;
}
#main-nav a:hover {
    background: #774FB3;

}

/* Typography */
h1 {
    color: darkslategray;

}

/* Images */
img {
    max-width: 30%;
    height: auto;
    border: 10px;
    padding: 2%;
}

/* Table */
table,th, td {
    border: 3px solid;
    border-color: #36366B;
    border-collapse: collapse;
    padding: .00005%; /* Adding any more padding makes the text overlap the table lines */

}

.special {
    color: darkgreen;
}