body {
  font-family: Arial, Helvetica, sans-serif;
  background: lightgray;
}

/* Structure */
#content {
  background: forestgreen;
  padding: 5px;
  width: 80%;
  margin: auto; /* Centers Horizontally */
  border-radius: 20px;
}

.padded-area {
  padding: 5px;
  margin: auto;
}

/* Navigation */
#main-nav {
  display: block;
}

#main-nav ul {
  padding-left: 0px;
}
#main-nav li {
  list-style-type: none;
}
#main-nav a:hover {
  border-bottom: coral;
  cursor: pointer;
}

.button {
  background: transparent;
}
#arrow-1 {
  cursor: pointer;
  margin: 5px;
}

#arrow-2 {
  cursor: pointer;
  margin: 5px;
}

.invisible {
  display: none;
}

/* Typography */
h1 {
  color: darkslategray;
}

#exercise1 {
  display: block;
  border: 10px solid pink;
}
